/*
 * seki.css
 *
 */

body {
  background: rgb(97%, 93%, 93%);
  color: black;
  margin-left: 1%;
  margin-right: 1%;
}

h1 {
  text-align: center;
  color:black;
  background: rgb(70%, 70%, 100%);
  font-size        : 180%; 
  font-style       : italic;
}

h2 {
  font-size        : 130%; 
  text-align       : left; 
  font-weight      : bold;
  margin-right     : 0; 
  padding          : 0.25em 0em 0.25em 0.7em;
  color:black;
  background: rgb(75%, 75%, 100%);
}

h3 {
  color:black;
  background: rgb(80%, 80%, 100%);
}

p {
  margin-left: 1%;
  text-indent: 1em;
}

dl {
  margin-left: 3%;
}

ul li {
  padding-bottom: 0.3em;
}

div.breadcrumb {
  text-align: left;
  color:black;
  font-size: small;
}

div.copyright {
        text-align: right;
        font-family: helvetica, sans-serif;
        font-size: smaller;
        color: rgb(40%,40%,40%)
}

dl.list {
        margin-left: 3%;
}

hr  {
	margin-bottom    : 5px;
}

blockquote { 
  margin: 1.3em 1em; 
  border: 2px #f90 solid; 
}

blockquote[title]:before { 
  font-weight: bolder; 
  color: #000; 
  background: #ffc; 
  line-height: 1.2; 
  display: block; 
  content: attr(title); 
  border-bottom: 1px #f90 solid; 
  padding: 0.2em 0.5em; 
}

blockquote[cite]:after { 
  color: #000; 
  background: #ffc; 
  line-height: 1.2; 
  text-align: right; 
  display: block; 
  content: "URL: "attr(cite); 
  border-top: thin #f90 solid; 
  padding: 0.2em 0.5em; 
}

pre {
  padding: 1em;
  border: 1px solid #000;
  width: auto;
  overflow: auto;
  color: #000;
  background-color: #f6f6f6;
}

ul {
	list-style-image: url("dot.png") 
}

dl {
	list-style-image: url("dot.png") 
}

em {
	font-size        : 15px;
	color: #330000;
}

strong {
	color: red;
    font-size        : 110%; 
	font-weight: bold;
}

acronym:after {
   content: " (" attr(title) ")";
}

a:hover	{
  background-color : #ffff80;
}

table {
  border-collapse: separate;
  border-spacing: 0px;
  border-top: 1px solid #666;
  border-left: 1px solid #666;
}
th{
  padding: 4px;
  text-align: center;
  vertical-align: top;
  background-color: rgb(85%, 85%, 100%);
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}
td{
  padding: 4px;
  background-color: rgb(100%, 98%, 98%);
  border-right: 1px solid #444;
  border-bottom: 1px solid #444;
}

table.noborder, td.noborder {
   border: 0;
   background: rgb(97%, 93%, 93%);
}
